<div fxLayout="column" fxLayoutAlign="space-around center">
  <form name="loginForm" id="form" [formGroup]="this.loginFormGroup"
  fxLayout="column" fxLayoutAlign="center center"  fxLayoutGap="1em" class="login-form mat-elevation-z8">
  <div class="wide-field">
    <div *ngIf="brandNew" class="alert alert-success" role="alert">
        <strong>All set!</strong> Please login with your account
    </div>
</div>
    <fa-icon [icon]="faUser" size="6x"></fa-icon>
    <h2>Login</h2>
    <div fxLayout="column" class="wide-field">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="johndoe@gmail.com" type="email">
        <mat-error>
            {{ this.loginFormGroup.controls.email.errorMessage }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error>
            {{ this.loginFormGroup.controls.password.errorMessage }}
        </mat-error>
      </mat-form-field>
      <button *ngIf="!isRequesting" type="button" mat-raised-button color="primary" form="form" (click)="login()">
        <fa-icon [icon]="faSignInAlt"></fa-icon> Login
      </button>
      <div *ngIf="isRequesting" fxLayout="row" fxLayoutAlign="center center">
        <fa-icon [icon]="faCircleNotch" size="2x" spin="true"></fa-icon>
      </div>
    </div>
  </form>
</div>

<!--
<div *ngIf="errors" class="alert alert-danger" role="alert">
  <strong>Oops!</strong> {{errors}}
</div> -->


