<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Inoxico.NTiered" version="2.0.0" />
  <module moduleId="Intent.Application.Contracts" version="2.0.0" />
  <module moduleId="Intent.Application.ServiceImplementations" version="2.0.0" />
  <module moduleId="Intent.AspNetCore" version="2.0.0" />
  <module moduleId="Intent.AspNetCore.WebApi" version="2.0.0" />
  <module moduleId="Intent.Common" version="2.0.0" />
  <module moduleId="Intent.Common.Types" version="2.0.0" />
  <module moduleId="Intent.Entities" version="2.0.0" />
  <module moduleId="Intent.Entities.Keys" version="2.0.0" />
  <module moduleId="Intent.Entities.Repositories.Api" version="2.1.0" />
  <module moduleId="Intent.EntityFrameworkCore" version="2.0.0" />
  <module moduleId="Intent.EntityFrameworkCore.Interop.WebApi" version="2.0.0" />
  <module moduleId="Intent.EntityFrameworkCore.Repositories" version="2.1.0" />
  <module moduleId="Intent.Metadata.RDBMS" version="2.0.0" />
  <module moduleId="Intent.Modelers.Domain" version="2.0.0" />
  <module moduleId="Intent.Modelers.Services" version="2.0.0" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="2.0.0" />
  <module moduleId="Intent.VisualStudio.Projects" version="2.0.0" />
</modules>