<?xml version="1.0" encoding="utf-8"?>
<package id="e13e7418-b36e-452f-a6cf-ee2ae71b4097">
  <name>Services</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference include="Intent.Application.Contracts">
      <path>..\..\..\..\..\Test\Intent.Modules\Intent.Application.Contracts.2.0.0\metadata\Intent.Application.Contracts\Intent.Application.Contracts.pkg.config</path>
    </reference>
    <reference include="Intent.AspNetCore.WebApi">
      <path>..\..\..\..\..\Test\Intent.Modules\Intent.AspNetCore.WebApi.2.0.0\metadata\Intent.AspNetCore.WebApi\Intent.AspNetCore.WebApi.pkg.config</path>
    </reference>
    <reference include="Intent.Common.Types">
      <path>..\..\..\..\..\Test\Intent.Modules\Intent.Common.Types.2.0.0\Metadata\Intent.Common.Types\Intent.Common.Types.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>