<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <settings>
    <packageSettings>
      <requiredPackages />
      <creationOptions>
        <option type="element">
          <specializationType>Service</specializationType>
          <text>New Service</text>
          <shortcut>ctrl + shift + r</shortcut>
          <defaultName>NewService</defaultName>
          <icon type="UrlImagePath" source="./img/icons/services/Service_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option type="element">
          <specializationType>DTO</specializationType>
          <text>New DTO</text>
          <shortcut>ctrl + shift + d</shortcut>
          <defaultName>NewDTO</defaultName>
          <icon type="UrlImagePath" source="./img/icons/dtos/DTO_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option type="element">
          <specializationType>type-definition</specializationType>
          <text>New Type</text>
          <shortcut>ctrl + shift + t</shortcut>
          <defaultName>NewType</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option type="element">
          <specializationType>enum</specializationType>
          <text>New Enum</text>
          <shortcut>ctrl + shift + e</shortcut>
          <defaultName>NewEnum</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option type="element">
          <specializationType>stereotype-definition</specializationType>
          <text>New Stereotype Definition</text>
          <shortcut>ctrl + shift + s</shortcut>
          <defaultName>NewStereotype</defaultName>
          <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option type="element">
          <specializationType>Folder</specializationType>
          <text>New Folder</text>
          <shortcut>ctrl + shift + f</shortcut>
          <defaultName>NewFolder</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
      </creationOptions>
      <typeOrder>
        <type>Folder</type>
        <type>Service</type>
        <type>DTO</type>
        <type>Type-Definition</type>
        <type>Enum</type>
        <type>stereotype-definition</type>
      </typeOrder>
    </packageSettings>
    <elementSettings>
      <elementSetting type="Folder">
        <specializationType>Folder</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
        <expandedIcon type="UrlImagePath" source="./img/icons/uml/FolderOpen_02_256x.png" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <typeOrder />
        <creationOptions>
          <option type="element">
            <specializationType>Service</specializationType>
            <text>New Service</text>
            <shortcut>ctrl + shift + r</shortcut>
            <defaultName>NewService</defaultName>
            <icon type="UrlImagePath" source="./img/icons/services/Service_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>DTO</specializationType>
            <text>New DTO</text>
            <shortcut>ctrl + shift + d</shortcut>
            <defaultName>NewDTO</defaultName>
            <icon type="UrlImagePath" source="./img/icons/dtos/DTO_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>type-definition</specializationType>
            <text>New Type</text>
            <shortcut>ctrl + shift + t</shortcut>
            <defaultName>NewType</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>enum</specializationType>
            <text>New Enum</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>NewEnum</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>stereotype-definition</specializationType>
            <text>New Stereotype Definition</text>
            <shortcut>ctrl + shift + s</shortcut>
            <defaultName>NewStereotype</defaultName>
            <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>folder</specializationType>
            <text>New Folder</text>
            <shortcut>ctrl + shift + f</shortcut>
            <defaultName>NewFolder</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
      </elementSetting>
      <elementSetting type="Service">
        <specializationType>Service</specializationType>
        <icon type="UrlImagePath" source="./img/icons/services/Service_256x.png" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <typeOrder />
        <creationOptions />
      </elementSetting>
      <elementSetting type="DTO">
        <specializationType>DTO</specializationType>
        <icon type="UrlImagePath" source="./img/icons/dtos/DTO_256x.png" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>true</allowGenericTypes>
        <allowMapping>true</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <typeOrder />
        <creationOptions />
        <mappingSettings>
          <defaultModeler>Domain</defaultModeler>
          <mappings />
        </mappingSettings>
      </elementSetting>
      <elementSetting type="Type-Definition">
        <specializationType>Type-Definition</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>true</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <typeOrder />
        <creationOptions />
      </elementSetting>
      <elementSetting type="Enum">
        <specializationType>Enum</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <typeOrder />
        <creationOptions />
      </elementSetting>
    </elementSettings>
    <associationSettings />
    <elementExtensions />
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Service" displayText="Service" />
        <option specializationType="DTO" displayText="DTO" />
        <option specializationType="DTO-Field" displayText="DTO Field" />
        <option specializationType="Operation" displayText="Operation" />
        <option specializationType="Operation-Parameter" displayText="Operation Parameter" />
        <option specializationType="Operation-Return-Type" displayText="Operation Return Type" />
        <option specializationType="Folder" displayText="Folder" />
        <option specializationType="Type-Definition" displayText="Type" />
        <option specializationType="Enum" displayText="Enum" />
        <option specializationType="Package" displayText="Package" />
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
  <extensions />
  <packageReferences>
    <packageReference include="Services.pkg.config" isExternal="false">
      <path>_Packages/Services/Services.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>