<div fxLayout="column" fxLayoutAlign="space-around center">
  <form name="registrationForm" id="form" [formGroup]="this.registrationFormGroup"
  fxLayout="column" fxLayoutAlign="center center"  fxLayoutGap="1em" class="registration-form mat-elevation-z8">

    <fa-icon [icon]="faUserPlus" size="6x"></fa-icon>
    <h2>Register</h2>
    <div fxLayout="row" fxLayoutGap="1em" class="wide-field">
      <mat-form-field fxFlex="50%">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="John">
        <mat-error>
            {{ this.registrationFormGroup.controls.firstName.errorMessage }}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50%">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Doe">
        <mat-error>
            {{ this.registrationFormGroup.controls.lastName.errorMessage }}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="1em" class="wide-field">
      <mat-form-field fxFlex="50%">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="johnd@example.com">
        <mat-error>
            {{ this.registrationFormGroup.controls.email.errorMessage }}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50%">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error>
            {{ this.registrationFormGroup.controls.password.errorMessage }}
        </mat-error>
      </mat-form-field>
    </div>
    <button *ngIf="!isRequesting" type="button" mat-raised-button color="primary" form="form" (click)="registerUser()">
      <fa-icon [icon]="faUserPlus"></fa-icon> Register
    </button>
    <div *ngIf="isRequesting" fxLayout="row" fxLayoutAlign="center center">
      <fa-icon [icon]="faCircleNotch" size="2x" spin="true"></fa-icon>
    </div>
  </form>
</div>

<div  fxLayout="column" fxLayoutAlign="center center" *ngIf="errors">
  <h5 class="text-danger">
    <fa-icon [icon]="faExclamationTriangle"></fa-icon> Oops, seems like something went wrong
  </h5>
  <pre class="alert alert-danger mat-elevation-z8" role="alert">{{errors | json}}</pre>
</div>
