<div fxLayout="column">
  <h1>Force Users</h1>
  <table fxFill mat-table [dataSource]="this.forceUsers" class="mat-elevation-z8" #forceUserTable>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let forceUser"> {{forceUser.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Side">
      <th mat-header-cell *matHeaderCellDef> Side </th>
      <td mat-cell *matCellDef="let forceUser"> {{forceUser.sideDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="Speciality">
      <th mat-header-cell *matHeaderCellDef> Speciality </th>
      <td mat-cell *matCellDef="let forceUser"> {{forceUser.specialityDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="LightSaberColor">
      <th mat-header-cell *matHeaderCellDef> Light Saber Color </th>
      <td mat-cell *matCellDef="let forceUser"> {{forceUser.lightSaberColorDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="Icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let forceUser">
        <fa-icon *ngIf="forceUser.side === 1"
        [icon]="faJediOrder" size="lg" [styles]="{'color': 'green'}"></fa-icon>
        <fa-icon *ngIf="forceUser.side === 2"
        [icon]="faGalacticRepublic" size="lg" [styles]="{'color': 'red'}"></fa-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="row-item" (click)="openDialog(row)"></tr>
  </table>
  <div style="padding-top: 1em" fxFlex="100%" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="openDialog(null)">
      <fa-icon [icon]="faPlus"></fa-icon>Force user
    </button>
  </div>
</div>


