<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Inoxico.NTiered</packageId>
  <templates>
    <template id="Inoxico.Module.NTiered.Application.CSConfigurableEnumType">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Application.CSharpEnumTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Application.OwinSelfHostedServiceCallContext">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Application.OwinSelfHosting">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Application.TopshelfServiceControl">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.AngularDtoFormGroupTemplate">
      <overrides>
        <add key="Location" value="C:\Users\zandreb\Desktop\Test5\AngularFrontEnd\ClientApp\src\@generated\form-group-templates" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.AngularDtoTypingFormGroupProxyTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.AngularServiceProxy">
      <overrides>
        <add key="Location" value="C:\Users\zandreb\Desktop\Test5\AngularFrontEnd\ClientApp\src\@generated\service-proxies" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.Contracts.DTO">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.Contracts.ServiceContract">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.HttpServiceProxy.HttpClientInterceptorInterface">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.HttpServiceProxy.HttpClientServiceImplementation">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.HttpServiceProxy.HttpClientServiceInterface">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.HttpServiceProxy.WebApiClientServiceProxy">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.HttpServiceProxy.WebApiClientServiceProxyRemoteException">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.OwinStartup">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.ServiceCallContext">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.TypeScriptConfigurableEnumType">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.TypeScriptEnumListTemplate">
      <overrides>
        <add key="Location" value="C:\Users\zandreb\Desktop\Test5\AngularFrontEnd\ClientApp\src\@generated\enum_lists" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.TypeScriptDtoTemplate">
      <overrides>
        <add key="Location" value="C:\Users\zandreb\Desktop\Test5\AngularFrontEnd\ClientApp\src\@generated\dtos" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.TypeScriptEnumTemplate">
      <overrides>
        <add key="Location" value="C:\Users\zandreb\Desktop\Test5\AngularFrontEnd\ClientApp\src\@generated\enums" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.UnityConfig">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.UnityPerServiceCallLifetimeManager">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.WebApiConfig">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Inoxico.Module.NTiered.Presentation.WebApiController">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="NTiered.TypeScriptEnumImportIndex">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
  </templates>
  <decorators>
    <decorator id="Inoxico.Module.NTiered.Presentiation.OwinWebConfigDecorator">
      <overrides />
    </decorator>
  </decorators>
  <factoryExtensions />
</packageConfigOverride>