<?xml version="1.0" encoding="utf-8"?>
<package id="d64598ef-11b7-4c12-a384-0ddf423c3fc4">
  <name>Domain</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference include="Intent.Common.Types">
      <path>..\..\..\..\..\Test\Intent.Modules\Intent.Common.Types.2.0.0\Metadata\Intent.Common.Types\Intent.Common.Types.pkg.config</path>
    </reference>
    <reference include="Intent.Entities">
      <path>..\..\..\..\..\Test\Intent.Modules\Intent.Entities.2.0.0\metadata\Intent.Entities\Intent.Entities.pkg.config</path>
    </reference>
    <reference include="Intent.EntityFrameworkCore">
      <path>..\..\..\..\..\Test\Intent.Modules\Intent.EntityFrameworkCore.2.0.0\Metadata\Domain\Intent.EntityFrameworkCore.pkg.config</path>
    </reference>
    <reference include="Intent.Metadata.RDBMS">
      <path>..\..\..\..\..\Test\Intent.Modules\Intent.Metadata.RDBMS.2.0.0\Metadata\Domain\Intent.Metadata.RDBMS.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>